# ESP32-WROOM-32E Default Configuration
CONFIG_BLINK_LED_GPIO=y
CONFIG_BLINK_GPIO_1=12
CONFIG_BLINK_GPIO_2=13
CONFIG_BLINK_GPIO_3=14
CONFIG_BLINK_PERIOD_MS=750
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_ESP32_WIFI_ENABLED=n